<div class="selection-container">
    <h2>Select an Option</h2>
    <div class="selection-icons">
      <div class="icon-card" (click)="onSelect('book')">
        <mat-icon class="big-icon">directions_bus</mat-icon>
        <p>Bus Booking</p>
      </div>
      <!-- <div class="icon-card" (click)="onSelect('view')">
        <mat-icon class="big-icon">View Ticket</mat-icon>
        <p>View Ticket</p>
      </div>
      <div class="icon-card" (click)="onSelect('history')">
        <mat-icon class="big-icon">View History</mat-icon>
        <p>View History</p>
      </div> -->
    </div>
</div>